.window-manifest-navigation > .mirador-btn.mirador-icon-manifest-link {
  color: #929191;
  margin-right: 5px;
}

.window-manifest-navigation > .mirador-btn.mirador-icon-manifest-link:hover {
  color: black;
}
