.window-manifest-navigation > .mirador-btn.mirador-icon-canvas-link {
  color: #929191;
  margin-right: 5px;
}

.window-manifest-navigation > .mirador-btn.mirador-icon-canvas-link:hover {
  color: black;
}

#canvasLinkModal #canvasLink {
  box-sizing: border-box;
  height: 33px;
  padding: 6px;
  width: calc(100% - 45px);
}

#canvasLinkModal #copyToClipboard {
  height: 34px;
  width: 40px;
}
