div.extendedNav {
  z-index: 100;
  font-size: 20px;
  position: absolute;
  /* width: 250px; */
  /* height: 40px; */
  /* text-align: center; */
  top: 0;
  padding: 20px 10px 10px;
  opacity: 0.5;
  transition: opacity 0.5s;
}
div.extendedNav:hover{
  opacity: 1;
}
div.extendedNav.skipPrevious {
  right: 50%;
  text-align: right;
}
div.extendedNav.skipNext {
  left: 50%;
  text-align: left;
}
div.extendedNav a.hud-control {
  margin: 5px;
  padding: 6px 7px 0;
  border-radius: 5px;
  background-color: white;
  color: rgba(0,0,0,0.7);
  text-shadow: none;
  box-shadow: 0 0 5px black;
  text-decoration: none;
  font-size: 14px;
}
div.extendedNav a .fa{
  font-size: 20px;
}
div.extendedNav a span {
  position: relative;
  top: -4px;
  margin: 0 3px;
}
